body {
  background: #eee;
  color: #101010;
}
.pf {
  width: 10%;
  height: auto;
  border: solid 2px transparent;
  border-radius: 5px;
  filter: saturate(0);
}
.pf:hover, .pf:active {
  border-color: #101010;
  filter: saturate(100);
}

.logo {
  width: 10%;
  height: auto;
}