body {
  background: #eee;
  color: #101010;
}
.pfdiv {display: block;}
.pf {
  width: 10%;
  height: auto;
  border: solid 2px transparent;
  border-radius: 50%;
  filter: saturate(0);
  padding: 0 5% 0 5%;
}
.pf:hover, .pf:active {
  border-color: #101010;
  filter: saturate(10);
}

.logo-i {
  width: 5%;
  height: auto;
}
.logo-ss {
  width: 10%;
  height: auto;
}